# Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

In [4]:
"""
Label encoding is used to give numbers encoding to all the unique categorical values and ranges from 0-class to n-classes. 
But the are not ordered number are given alphabetically.

Ordinal encoding is also used for give numbers encoding to all the unique categorical values and ranges form 0-class to n-classes.
but we can provide them ranks according to our preference and it will provide the encodings accordingly.
"""

### example
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [7]:
### Label encoding
df = sns.load_dataset('tips')
### we can give label encoding to sex column because it is not necessary to be ordered
le = LabelEncoder()
encoded = le.fit_transform(df['sex'])
df['sex'] = encoded
df.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    0     No  Sun  Dinner     2
1       10.34  1.66    1     No  Sun  Dinner     3
2       21.01  3.50    1     No  Sun  Dinner     3
3       23.68  3.31    1     No  Sun  Dinner     2
4       24.59  3.61    0     No  Sun  Dinner     4

In [8]:
df.day.unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [12]:
### Ordinal encoding
### we can provide ordinal encoding for day column because days can be ranked according to preferance
oe = OrdinalEncoder(categories=[['Sun','Sat','Fri','Thur']])
encoded = oe.fit_transform(df[['day']])
df['day'] = encoded
df.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    0     No  0.0  Dinner     2
1       10.34  1.66    1     No  0.0  Dinner     3
2       21.01  3.50    1     No  0.0  Dinner     3
3       23.68  3.31    1     No  0.0  Dinner     2
4       24.59  3.61    0     No  0.0  Dinner     4

# Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

In [13]:
"""
Target Guided Ordinal Encoding is used for encoding categorical column which is having more relationship with the target column.
We can replace categorical value with the mean or median of the target column.

When we have a dataframe in which the hotel prices in a city and city are having multiple entry with the different rates.
We can encode the categorical city column and replace it with mean or median of the rates column to convert the categorical column to numeric.
"""
print()

# Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

In [14]:
"""
Covariance is a direction of relationship between two variables.
there are two type or relationship positive or negative coriance.
If one value is incresing or decreasing the other values is also increasing or decreasing respectively then it is a positive covariance.
If one value is incresing and others value is decreasing or visa versa then it is having a negative covariance.

Covariance is important for statistical analysis because it helps in the feature selection and remove the features that are not important
this increses the machine learning model effieciency.

covariance is calculated with the mathematical formula:

cov(x,y) = (xi + mean(x))*(yi + mean(y)) / (n-1)

"""
print()

# Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [15]:
import pandas as pd
import numpy as np

In [16]:
color = ['red','green','blue']
size = ['small','medium','large']
material = ['wood','metal','plastic']

df = pd.DataFrame({'Color': color, 'Size':size, 'Material':material})
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [17]:
"""
In the df color column cannot be ranked therefore we can use LabelEncoding to it
"""
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
encoded = le.fit_transform(df[['Color']])
df['Color'] = encoded
df

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   Color    Size Material
0      2   small     wood
1      1  medium    metal
2      0   large  plastic

In [18]:
"""
For Size column the sizes can be ranked accordingly we can use OrdinalEncoder 
"""
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['small','medium','large']])
encoded = oe.fit_transform(df[['Size']])
df['Size'] = encoded
df

   Color  Size Material
0      2   0.0     wood
1      1   1.0    metal
2      0   2.0  plastic

In [19]:
"""
For Material column the elements cannot be ranked and we can give OneHotEncoder if the unique material is < 5
because the materials can be important for target and will give encodings that will be better for machine learning algorithm

We can also use other encoding according to target variable 
"""
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
encoded = ohe.fit_transform(df[['Material']])
mat_df = pd.DataFrame(encoded.toarray(), columns = ohe.get_feature_names_out())
pd.concat([df,mat_df], axis = 1)

   Color  Size Material  Material_metal  Material_plastic  Material_wood
0      2   0.0     wood             0.0               0.0            1.0
1      1   1.0    metal             1.0               0.0            0.0
2      0   2.0  plastic             0.0               1.0            0.0

# Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [21]:
df1 = pd.DataFrame({'Age':[25,29,21],
                    'Income':[50000,90000,30000],
                    'Education':['M.tech','PhD','B.tech']})
df1

   Age  Income Education
0   25   50000    M.tech
1   29   90000       PhD
2   21   30000    B.tech

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
df1.cov()

             Age        Income
Age         16.0  1.200000e+05
Income  120000.0  9.333333e+08

In [26]:
df1.corr(method = 'pearson')

             Age    Income
Age     1.000000  0.981981
Income  0.981981  1.000000

# Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

In [27]:
"""
Machine learning project containing several categorical dataset can be managed using

Gender(Male/Female): for gender column containing Male and Female column can be managed by converting them to 0 and 1 by using LabelEncoder method.

Education Level(High Schoo/Bachelor's/Master's/PhD) : Can be managed by converting them using OrdinalEncoder method by giving preferances to the Education level.

Employment Status(Umemployed/Part-Time/Full-Time) : Can be managed by OrdinalEncoder or TragetEncoder(if it is more related to target) we can rank them according the preferance.

"""
print()

# Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results.

In [28]:
df2 = pd.DataFrame({'Temperature':[20,24,31,40,18],
                    'Humidity':[80,60,65,70,40],
                    'Weather Condition':['Rainy','Cloudy','Sunny','Sunny','Cloudy'],
                    'Wind Direction':['North','South','East','West','East']})
df2

   Temperature  Humidity Weather Condition Wind Direction
0           20        80             Rainy          North
1           24        60            Cloudy          South
2           31        65             Sunny           East
3           40        70             Sunny           West
4           18        40            Cloudy           East