### Assignment

In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

string = "Hello World"
list1 = [1,2,4,[1,2,4],'hello']
float1 = 1.23
tuple1 = (1,2,3)

In [4]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

var1 = ""
print(type(var1))

var2 = '[ DS , ML , Python]'
print(type(var2))

var3 = [ "DS" , "ML" , "Python"]
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [7]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# / is a divide operator used for division
print(5/3)

# % is a modulo operator gives remainder
print(5%3)

# // is a flor division operator used to give int output
print(5//3)

# ** is a power operator
print(5**3)

1.6666666666666667
2
1
125

In [10]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.
list2 = [1, 1.2, [1,2,3,4], (1,2,3,4), {1:2, 3:4}, "1", "a", "hello world", 1.2222222222, 238847322]
print("length of list2 is {}".format(len(list2)))
for i in list2:
    print(f"Element {i} dtype is {type(i)}")

length of list2 is 10
Element 1 dtype is <class 'int'>
Element 1.2 dtype is <class 'float'>
Element [1, 2, 3, 4] dtype is <class 'list'>
Element (1, 2, 3, 4) dtype is <class 'tuple'>
Element {1: 2, 3: 4} dtype is <class 'dict'>
Element 1 dtype is <class 'str'>
Element a dtype is <class 'str'>
Element hello world dtype is <class 'str'>
Element 1.2222222222 dtype is <class 'float'>
Element 238847322 dtype is <class 'int'>

In [13]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

count = 0
a = 32
b = 4

while(a):
    a = a//b
    count+=1
    
print(f"A is Divisible by B {count} times")

A is Divisible by B 3 times

In [16]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

list3 = []

for i in range(30,30+25):
    list3.append(i)
    if i%3 == 0:
        print(f"{i} is divible by 3")
    else:
        continue
print(list3)
print(f"length of list3 is {len(list3)}")

30 is divible by 3
33 is divible by 3
36 is divible by 3
39 is divible by 3
42 is divible by 3
45 is divible by 3
48 is divible by 3
51 is divible by 3
54 is divible by 3
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
length of list3 is 25

In [19]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

print("Mutable: Datatypes which can be updated after declaration and can be manipulated are called mutable datatype")

list4 = [1,2,3,4]
list4[1] = 8 #following line changes the value in the list so list are mutable
print(list4)

print("Immutable: Datatypes which cannot be updated or modified after created is known as immutable datatypes
      a
tup = (1,2,3,4)
# tup[2] = 8  #following line give error because tuples are immutable

Mutable: Datatypes which can be updated after declaration and can be manipulated are called mutable datatype
[1, 8, 3, 4]